.contact{
    background-image: url(../images/contact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 0;
    position: relative;
    z-index: 1;
    background-attachment: fixed; 
    &::before{
        position: absolute;
        content:'' ;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        z-index: -1;
    }
    .section_header{
        h3{
            font-size: 75px;
            font-weight: 700;
            color: $white;
            font-family: $popins;
            text-transform: uppercase;
            letter-spacing: 1px; 
        }
    }
    .contact_wrapper{
        padding-top: 75px;
        .time_table{
            h4{
             color: $white;
             font-size: 30px;
             font-weight:500;
             font-family: $popins;
            }
            h5{
             color: $white;
             font-size: 18px;
             font-weight:400;
             font-family: $popins;
            }
        }
        .form_wrapper{
           padding-top: 50px;
           label{
             color: $white;
             font-size: 30px;
             font-weight:500;
             font-family: $popins;
             padding-bottom: 20px;
             text-transform: uppercase;
           }
         .form_control{
             display: block;
             width: 100%;
             height: 75px;
             padding:23px;
             background-color:#ffffff;
             background-clip: padding-box;
             border: 1px solid transparent;
             border-radius: 10px;
             transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
             -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
             -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
             -ms-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
             -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
             -webkit-border-radius: 10px;
             -moz-border-radius: 10px;
             -ms-border-radius: 10px;
             -o-border-radius: 10px;
             &:focus{
                outline: 0;
            } 
             &::placeholder{
                 font-size: 18px;
                 color: #d7d7d7;
                 font-weight: 400;
                 font-family: $popins; 
             }
         }
         .Massages{
             height: 250px !important;
         }
        }
        a{
            padding: 15px 70px;
            border: 2px solid $white;
            font-size: 18px;
            color: $white;
            font-weight: 500;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            text-transform: uppercase;
            &:hover{
                background-color: $white;
                color: $black;
             &:hover span{
                 color: $black;
             }
            }
            span{
                padding-right:10px;
                font-size: 18px; 
            }
 
        }
    }
    .contact_info{
        ul{
            li{
                  display: inline-block;
                  padding-left: 10px;
                a{ 
                    font-size: 40px;
                    color: $white;
                    &:hover{
                        color: $orange;
                    }
                }
            }
        }
    }
}