.header{
    background-color: #303030;
    padding: 32px 30px;
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            display: inline-block;
            a{
              color: white;
              font-family: $oswald;
              font-size: 18px;
              font-weight: 400;
              text-transform: uppercase; 
              padding: 5px;
              letter-spacing: 1px;
              &:hover{
                  background-color: $orange;

              }
            }
        }
    }
    .moble_navbar{
        i{
            font-size: 30px;
            color: $white; 
        }
    }
}
.newclass{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999; 
}