$orange:#e8631c;
$white:white;
$black:black;
$bebas:'Bebas Neue', cursive; 
$oswald:'Oswald', sans-serif;
$popins:'Poppins', sans-serif;
$monstar:'Montserrat', sans-serif;
$text:#353535;
$yellow:#fec600; 
